@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

@import "nullstyle.scss";


body {
	font-family: 'Noto Sans	JP';
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.content {
	flex: 1 1 auto;
}
.container {
	max-width: 1180px;
	margin: 0px auto;
}
.hi {
	background-color: #445162;
	padding: 50px 0px;
}
.hi__row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.hi__body {
	color: #ffffff;
	padding: 0px 30px 0px 0px;
}
.hi__title {
	font-size: 60px;
	line-height: 1.2;
	text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
	margin: 0px 0px 40px 0px;
}
.hi__list {}

.hi__list li {
	background: url('/img/icons/check.png') 0px 1px no-repeat;
	font-size: 20px;
	text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
	padding: 0px 0px 0px 36px;
	margin: 0px 0px 17px 0px;
}

.hi__list li:last-child {
	margin: 0;
}

.hi__image {
}
.main {
}
.main__row {
	display: flex;
	justify-content: space-between;
	padding: 50px 0px;
}
.main__img {
	flex: 0 0 430px;
}

.main__img img {
	max-width: 100%;
}
.main__body {
	flex: 1 1 auto;
	padding: 0px 0px 0px 38px;
}
.main__title {
	margin: 0px 0px 36px 0px;
}
.title {
	font-size: 30px;
	line-height: 36px;
	color: #445161;
}
.main__text {}

.main__text p {
	font-size: 16px;
	line-height: 24px;
	color: #333333;
	margin: 0px 0px 25px 0px;
}

.columns {
	background-color: #f5f5f5;
	padding: 50px 0px 20px 0px;
}

.columns__title {
	text-align: center;
	margin: 0px 0px 30px 0px;
}

.columns__row {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -8px;
}
.columns__column {
	padding: 0px 8px;
	flex: 0 1 50%;
	margin: 0px 0px 30px 0px;
}
.columns__item {
}
.item {
}
.item__row {
	display: flex;
}
.item__img {
	flex: 0 0 200px;
}
.item__body {
	flex: 1 1 auto;
	padding: 0px 0px 0px 15px;
}
.item__title {
	font-size: 24px;
	line-height: 30px;
	color: #445161;
	margin-bottom: 15px;
}
.item__text {
	font-size: 16px;
	line-height: 24px;
	color: #333333;
}

.vertical {
	padding: 50px 0px;
}

.vertical__title {
	text-align: center;
	margin: 0px 0px 30px 0px;
}

.vertical__body {
	max-width: 990px;
	margin: 0px auto;
}
.vertical__row {
	display: flex;
	margin: 0px -22.5px;
}
.vertical__column {
	display: flex;
	flex: 0 1 33.333%;
	padding: 0px 22.5px;
}
.vertical__item {
	background-color: #445162;
	height: 499px;
	border-radius: 1%;
	padding: 0px 0px 20px 0px;
	display: flex;
	flex-direction: column;
}
.vertical__subtitle {
	font-size: 24px;
	text-transform: uppercase;
	color: #ffffff;
	text-align: center;
	padding: 12px 0px;
}
.vertical__label {
	font-size: 40px;
	text-transform: uppercase;
	color: #445162;
	text-align: center;
	border: 2px solid #445162;
	background-color: #fff;
	padding: 20px 0px;
}
.vertical__text {
	line-height: 24px;
	flex-direction: column;
	flex: 1 1 auto;
	line-height: 24px;
	color: #ffffff;
	padding: 20px;
}

.vertical__text p {
	margin: 0px 0px 30px 0px;
}

.vertical__text p:last-child {
	margin: 0;
}

.verical__btn {
	display: block;
	background-color: #fff;
	text-align: center;
	margin: 0px 20px;
	padding: 10px 0px;
	font-size: 18px;
	font-weight: 700;
	color: #445161;
	border-radius: 5px;
}

.footer {
	background-color: #f5f5f5;
}
.footer__row {
	display: flex;
	height: 63px;
	justify-content: center;
	align-items: center;
}
.footer__text {
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 0.025em;
	color: #445162;
}